aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
-e git+https://github.com/camel-ai/camel.git@bda4bf43bb03092936c2c0316aee9ff96aa551bf#egg=camel
certifi==2023.5.7
charset-normalizer==3.2.0
colorama==0.4.6
distlib==0.3.6
filelock==3.12.2
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
numpy==1.25.2
openai==0.27.8
pipenv==2023.7.11
platformdirs==3.8.1
pygame==2.5.0
regex==2023.6.3
requests==2.31.0
tenacity==8.2.2
tiktoken==0.4.0
tqdm==4.65.0
urllib3==2.0.4
virtualenv==20.23.1
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.7
windows-curses==2.3.1
yarl==1.9.2
